.ghost_button {
  text-align: center;
  display: inline-block;
  font-size: 1.5em;
  color: #fff;
  width: 80%;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 50px;
  text-decoration: none;
}

.Button .form_button {
  display: inline-block;
  font-size: 1.5em;
  color: #fff;
  background-color: #4daaa7;
  width: 50%;
  padding: 15px;
  border-radius: 50px;
  transition: 0.5s;
}

.Button .form_button:focus {
  border: none;
}

.Button .form_button:hover {
  cursor: pointer;
  background-color: #285d5b;
}