.AccHistoryBar {
  height: 100%;
  background-color: #fff;
  padding: 25px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.AccHistoryBar th {
  font-size: 1.2em;
  font-weight: 500;
  text-align: left;
  padding-bottom: 15px;
}

.AccHistoryBar tr {
  width: 100%;
  border-bottom: 1px solid #E9E9E9;
}

table {
  width: 100%;
}

.table_head {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.AccHistoryBar table td {
  padding: 10px 0;
  font-size: 1.1em;
  font-weight: 300;
}

.AccHistoryBar table .deposit_withdraw th {
  width: 50%;
}

#green {
  color: green;
}

#red {
  color: maroon;
}

.AccountItem .amount {
  font-size: 1.25em;
  font-weight: 500;
}

.deposit_withdraw th:nth-child(2) {
  text-align: right;
}