.DepositTwo {
  display: grid;
  grid-template-columns: 20% auto auto auto auto;
}

.deposit-two-container {
  grid-column: 2 / span 4;
  display: grid;
  grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
  margin-top: 100px;
  background-color: #EBF0F1;
}

.deposit-two-bar {
  display: grid;
  align-items: center;
  text-align: center;
  grid-column: 3 / span 2;
  margin: 7% 0;
  padding: 5% 8%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 7px 10px -10px #777;
}

.deposit-two-bar p {
  width: 85%;
  margin: 0 auto;
}

.deposit-two-bar .instructions {
  color: red;
  margin-bottom: 35px;
  font-size: 1.3em;
}

.deposit-two-bar .bitcoin_address {
  display: flex;
  align-items: center;
  padding: 2% 2% 2.1% 0;
  background-color: #011727;
  color: #fff;
  border-radius: 5px;
}

.deposit-two-bar .bitcoin_address button {
  border: none;
  border-radius: 2px;
  padding: 6px 4px 6px 10px;
}

.deposit-two-bar .bitcoin_address button:hover {
  cursor: pointer;
}

.deposit-two-bar img {
  margin: 0 auto;
  width: 60%;
}

.deposit-two-bar a {
  border-color: grey;
  color: grey;
  width: 50%;
}

.button_container {
  display: grid;
  grid-template-rows: none;
  grid-template-columns: auto auto;
  width: 100%;
  align-items: center;
}

.button_container .Button .form_button {
  width: 80%;
  font-size: 1.2em;
}

.button_container .Button .ghost_button {
  width: 80%;
  font-size: 1.2em;
  border: none;
}