.acc_history_grid {
  display: grid;
  grid-template-columns: 20% auto;
}

.acc_history_container {
  grid-column: 2 / span 4;
  padding: 100px 20px 20px 20px;
  display: grid;
  grid-template-columns: 15.25% 15.25% 15.25% 15.25% 15.25% 15.25%;
  column-gap: 1.7%;
  background-color: #EBF0F1;
}

.acc_history_bar {
  grid-column: 1 / span 4;
}

.transaction_bar {
  grid-column: 5 / span 2;
}